import /tee.rc
import /trustonic.rc

on early-init
    start adbd
 
on init
    wait /dev/block/platform/bootdevice
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    export LD_LIBRARY_PATH /vendor/lib64:/vendor/lib64/hw:/system/lib64:/system/lib64/hw:/sbin

on fs
    on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring    
    setprop crypto.ready 1

service keymaster_attestation-1-1 /vendor/bin/hw/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service wait_for_keymaster /system/bin/wait_for_keymaster
    user root
    group root system
    setenv LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw
    seclabel u:r:recovery:s0

service vendor.boot-hal-1-2 /vendor/bin/hw/android.hardware.boot@1.2-service
    interface android.hardware.boot@1.0::IBootControl default
    interface android.hardware.boot@1.1::IBootControl default
    interface android.hardware.boot@1.2::IBootControl default
    class early_hal
    user root
    group root
    setenv LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc log
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    class hal
    user root
    group root
    setenv LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw
    seclabel u:r:recovery:s0

service keymaster-4-1-trustonic /system/bin/android.hardware.keymaster@4.1-service.trustonic
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

on post-fs
    start mtk.plpath.utils.link

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    setenv LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw:/sbin
    seclabel u:r:recovery:s0

on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd

on post-fs-data
    chown system system /data
    chmod 0771 /data
    restorecon /data
    mkdir /data/vendor 0771 root root encryption=Require
    mkdir /data/vendor_ce 0771 root root encryption=None
    mkdir /data/vendor_de 0771 root root encryption=None
    # Create /data/vendor/key_provisioning dir and get proper encryption policy installed
    # Key Installation
    mkdir /data/vendor/key_provisioning 0771 system system
    installkey /data
    install_keyring

on property:hwservicemanager.ready=true && property:crypto.ready=1
    start keystore2
    start mobicore
    start keymaster-4-1-trustonic
    start gatekeeper-1-0
    start keymaster_attestation-1-1

on property:twrp.all.users.decrypted=true && property:twrp.decrypt.done=true
    setprop crypto.ready 0
    stop mobicore
    stop gatekeeper-1-0
    stop keymaster-4-1-trustonic
