import /init.recovery.microtrust.rc
import /tee.rc
import /trustonic.rc

on init
    mkdir /mnt/vendor/persist
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw
    setprop persist.sys.firstlaunch false
    install_keyring
    setprop crypto.ready 1

on early-init 
    start adbd
    start vold    
    
on fs
    install_keyring
    setprop crypto.ready 1    
    write /sys/class/oplus_chg/usb/otg_switch 1
    write /sys/class/power_supply/usb/otg_switch 1

service hwservicemanager /system/bin/hwservicemanager
    user root
    group root readproc
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /system/bin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0
    
service mobicore /vendor/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0    
    
service init-device-sh /system/bin/init.device.sh
    user root
    group root
    disabled
    seclabel u:r:recovery:s0    
    
on boot
    start init-device-sh
    start vendor.vibrator-1-0 
    
service vendor.vibrator-1-0 system/bin/android.hardware.vibrator@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0    

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    
#Add for OPPO FBE
service hal_cryptoeng_oppo /system/bin/hw/vendor.oplus.hardware.cryptoeng@1.0-service
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0    

service keymaster-4-0 /system/bin/android.hardware.keymaster@4.0-service.trustonic
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start hal_cryptoeng_oppo
    start mobicore
    start keymaster-4-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    install_keyring
    setprop crypto.ready 1     
    stop teei_daemon
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-0
    stop gatekeeper-1-0

on property:twrp.decrypt.done=true && property:twrp.all.users.decrypted=true
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-0
    stop gatekeeper-1-0
    
on property:enable.fbe.service=0
    stop hal_cryptoeng_oppo
    stop mobicore
    stop keymaster-4-0
    stop gatekeeperd
    stop gatekeeper-1-0    

on property:sys.usb.config=fastboot
    start servicemanager
    start hwservicemanager
    restart fastbootd
